
.App {
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  background-color: #c7ebfa;
  color: #16161f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
  color: #0E367C;
  font-size: 4rem;
  margin-bottom: 20px;
}

#city-search, #number-of-events {
  margin-bottom: 20px;
}

.city {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#city-search {
  position: relative;
  width: 300px;
  margin: auto;
}

.suggestions {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.suggestions li {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #8cdbf3;
}

.suggestions li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

#number-of-events {
  margin-top: 20px;
}

#numberOfEventsInput {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#event-list {
  margin: auto;
}

#event-list, .suggestions {
  list-style: none;
}

.event {
  border: 3px solid #0E367C;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

.event-info span, .event-info p {
  display: inline;
  margin: 3px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0E367C;
  color: #fff;
  cursor: pointer;
  box-shadow: #16161f;
  font-weight: bold;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-right: 10%;
  padding-left: 10%;
}

@media (max-width: 1200px) {
  .charts-container {
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 0;
  }
}